*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logoc{
    height: 60px;
}
/*Ajuste carrusel*/
.d-item{
    height: 600px;
 }

 .d-img{
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
 }
 .colorsc{
    background-color: #0096C7;
 }