<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&family=Quicksand:wght@700&display=swap" rel="stylesheet">
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
   background-color: #ffffff;
 }

.logoc{
    height: 60px;
}
/*Ajuste carrusel*/
.d-item{
    height: 600px;
 }

 .d-img{
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
 }
 .colorsc{
    background-color: #0096C7;
 }

 .sbn{
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 25px;
    font-family: 'Quicksand', sans-serif;
 }

 .cuerpo1{
    margin: 0 auto;
    max-width: 1500px;
    font-family: 'Lato';
    color: #333;
}


 /*Css Grid*/

 .caja1{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 350px;
    margin-bottom: 25px;
    grid-area: caja1;
 }
 
 .caja2{
   text-align: center;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    grid-area: caja2;
 }
 
 .caja3{
    text-align: center;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif; 
    grid-area: caja3;
 }
 
 .caja4{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: caja4;
    height: 350px;
    margin-left: 25px;
 }
 .contenedor1{
   display: grid;
   align-items: center;
   grid-template-columns: repeat(2, 1fr);
   grid-template-rows: repeat(2, 1fr);
   grid-template-areas: 
   "caja1 caja2"
   "caja3 caja4";
 }
 .petropolisimg{
   height: 100%;
 }

.articulo1{
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 0 auto;
   max-width: 1000px;
   font-family: 'Lato';
   color: #333;
}

.imgar1{
   padding-top: 25px;
   max-width: 100%;
}

.ctn{
   padding-top: 15px;
   text-align: center;
   font-size: 35px;
}

/*prueba1*/

.formularior {
   font-family: 'Poppins', sans-serif;
   background-color: #ffffff; /* Color de fondo inspirado en tonos terrosos */
   margin: 0;
   padding: 0;
   display: flex;
   align-items: center;
   justify-content: center;
   height: 1500;
 }
 
 .contenedor {
   background-color: #fff;
   padding: 20px;
   border-radius: 10px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   text-align: center;
 }
 
 .h1f {
   color: #8b4513; /* Color de texto marrón oscuro */
 }
 
 form {
   display: flex;
   flex-direction: column;
 }
 
 label {
   margin-top: 10px;
   color: #8b4513; /* Color de texto marrón oscuro */
 }
 
 input, textarea {
   padding: 8px;
   margin: 8px 0;
   border: 1px solid #8b4513; /* Borde marrón oscuro */
   border-radius: 4px;
   width: 100%;
 }
 
 .btnf {
   background-color: #8b4513; /* Fondo marrón oscuro */
   color: #fff; /* Texto blanco */
   padding: 10px;
   border: none;
   border-radius: 4px;
   cursor: pointer;
   transition: background-color 0.3s ease;
 }
 
 .btnf:hover {
   background-color: #6b3510; /* Cambio de color al pasar el mouse */
 }

.cajaformu1{
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-template-rows: repeat(1, 1fr);
   grid-template-areas: "caja5 caja6";
}

.caja5{
   grid-area: caja5;
}

.caja6{
   display: flex;
   align-items: center;
   justify-content: center;
   grid-area: caja6;
}

/*fin de prueba*/


.piedp{
   background-color: black;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: repeat(1,1fr);
   grid-template-areas: "caja7 caja8 caja9";
}

.caja7 img{
   height: 90px;
}

.caja8{
   text-align: center;
   color: #D4AF37;
}

.caja9{
   display: flex;
   align-items: center;
   justify-content: center;
   height: 32px;
}

 @media screen and (max-width: 1285px){
   .contenedor1{
      display: flex;
      flex-direction: column;
      align-items: center;

      ;
   }

   .cajaformu1{
      display: flex;
      flex-direction: column;}
   
   .petropolisimg{
      height: 70%;
    }
    .caja4{
      display: flex;
      align-items: center;
      justify-content: center;
      grid-area: caja4;
   }
   .caja6{
      margin-top: 15px;
      margin-bottom: 20px;
   }
 }